<div class="container">
	<div class="row" align="center">
		<div class ="col-md-12" >
			<div class="jumbotron">
			  <h1>Mision</h1>
			  <p>Orientación familiar una guía para el hogar es un espacio Televisivo y radial con la misión de llegar a todos los hogares a fin de compartir valores familiares, educativos y espirituales con la colaboración de diferentes comunidades con el propósito de que reine la buena convivencia al recibir mensaje conciliador de paz y armonía través de consejeria , orientación y buena guía.</p>
			  <p><a class="btn btn-primary btn-lg" href="#" role="button"></a>
			  </p>
			</div>
		</div>
		<div class ="col-md-12" >
		<div srcset="https://dummyimage.com/600x500/007aeb/4196e5" alt="responsive image" class="d-block img-fluid"><%= link_to image_tag "comunidad.jpg" , class: "img"%>
			
		</div>
		</div>
	</div>
</div>


